@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@600&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
}


#Navbar {
    
    .nav-link{
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        padding: 1.5em;
    }    
    
}