@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

#Navbar {
    font-family: 'Poppins', sans-serif;
    
    .nav-link{
        text-transform: uppercase;
        padding: 1.5em;
    }    
    
}